body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

input {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

.header_title {
    font-size: 120%;
    font-weight: bold;
    padding-bottom: 5px;
    margin-top: -10px;
}


.panel {
    position: fixed;
    padding: 10px;
    background-color: rgba(0, 0, 128, 0.2);
    color: rgba(0, 0, 0, 1);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.right_panel {
    width: 264px;
    right: 20px;
}

#algorithm_panel {
    right: 20px;
    top: 20px;
}

#instructions_panel {
    top: 20px;
    left: 20px;
    width: 450px;
}

#hide_instructions {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 90%;
    cursor: pointer;
}

#hide_instructions:hover {
    color: #fff;
    text-decoration: underline;
}

#show_instructions_panel {
    top: 20px;
    left: 20px;
    width: 450px;
}

#show_instructions {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 90%;
    cursor: pointer;
}

#show_instructions:hover {
    color: #ffffff;
    text-decoration: underline;
}

#hide_algorithms {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 90%;
    cursor: pointer;
}

#hide_algorithms:hover {
    color: #fff;
    text-decoration: underline;
}

#show_algorithms_panel {
  right: 20px;
  top: 20px;
  width: 264px;
}

#show_algorithms {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 90%;
    cursor: pointer;
}

#show_algorithms:hover {
    color: #fff;
    text-decoration: underline;
}

.option_header {
    font-size: 80%;
    margin-left: 20px;
    color: #fff;
}

.option_label {
    cursor: pointer;
    color: #fff;
}

button {
    border: none;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    font-size: 90%;
    cursor: pointer;
    padding: 2px 8px;
    margin: 4px 2%;
    width: 28%;
}

button:hover {
    background: rgba(255, 255, 255, 1);
}

.finder_section {
    border: solid 1px #ddd;
    border-radius: 5px;
    margin: 5px;
    color: #fff;
}

.sub_options {
    padding: 2px;
    font-size: 14px;
    margin: 2px 30px 0;
    color: #fff;
}

.added_functionality {
    padding: 2px;
    font-size: 14px;
    margin: 2px 30px 0;
    color: #fff;
}

#stats {
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: green;
    font-size: 85%;
}

a {
    background: rgba(0, 0, 128, 0.2);
}

footer {
    color: green;
    font-size: 80%;
    text-align: center;
    position: fixed;
    width: 200px;
    bottom: 10px;
    left: 40%;
    padding: 5px;
}

.white {
    color: #fff;
}

.green {
    color: rgba(0, 128, 0, 0.9);
}

.red {
    color: rgba(128, 0, 0, 0.9);
}

.pink {
    color: #EC1A89;
}

.spinner {
    width: 2em;
}
